<div *ngIf="filteredFlight">
  <div class="container mt-4">
    <h2 class="text-center text-blue mb-4">Flight Details</h2>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Flight Number</h5>
          <p class="card-text font-weight-bold">
            {{
              filteredFlight.allJourney.flights[0].flightDTO[0].flightInfo
                .flightNumber
            }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Departure Airport</h5>
          <p class="card-text">
            {{
              filteredFlight.allJourney.flights[0]?.flightDTO[0]
                .departureTerminalAirport?.airportName
            }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Arrival Airport</h5>
          <p class="card-text">
            {{
              filteredFlight.allJourney.flights[0]?.flightDTO[0]
                .arrivalTerminalAirport?.airportName
            }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Airline</h5>
          <p class="card-text">
            {{
              filteredFlight.allJourney.flights[0]?.flightDTO[0].flightAirline
                ?.airlineName
            }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Departure Time</h5>
          <p class="card-text">
            {{ filteredFlight.allJourney.flights[0]?.flightDTO[0].deptTime }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Arrival Time</h5>
          <p class="card-text">
            {{ filteredFlight.allJourney.flights[0]?.flightDTO[0].landTime }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Departure Date</h5>
          <p class="card-text">
            {{
              filteredFlight.allJourney.flights[0]?.flightDTO[0].departureDate
                | date : "MM/dd"
            }}
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card shadow-lg p-4 border-0">
          <h5 class="card-title text-primary">Arrival Date</h5>
          <p class="card-text">
            {{
              filteredFlight.allJourney.flights[0]?.flightDTO[0].arrivalDate
                | date : "MM/dd"
            }}
          </p>
        </div>
      </div>
    </div>

    <div class="text-center mt-4 py-2">
      <button class="btn bg-pink text-white btn-lg shadow-sm">Book Now</button>
    </div>
  </div>
</div>

<div *ngIf="!filteredFlight">
  <p class="text-center text-danger mt-4 font-weight-bold">
    No flight found with the specified number.
  </p>
</div>
