<section  [attr.dir]="currentLang === 'ar' ? 'rtl' : 'ltr'" class="bg-dark text-white">
  <header class="px-3 px-lg-5 py-3">
    <div class="row d-flex align-items-center">
      <div class="logo col-12 col-md-6 d-flex align-items-center gap-2 w-50" >
        <i class="fas fa-plane icon"></i>
        <span class="logo-text">FlyQuest</span>
      </div>

      <div
        class="col-12 col-md-6 d-flex justify-content-end align-items-center gap-3 w-50 flex-wrap"
      >
        <div (click)="toggleLanguage()" class="language-item d-flex align-items-center gap-2" >
          <i class="fas fa-globe"></i>
          <span class="d-none d-md-flex">{{'English' | translate}}</span>
        </div>
        <div class="language-item d-flex align-items-center gap-2">
          <i class="fas fa-sign-in-alt"></i>
          <span class="d-none d-md-flex">{{'Log-in' | translate}}</span>
        </div>
      </div>
    </div>
  </header>
  <main class="text-center mt-5 px-3 px-lg-5 py-5">
    <h1 class="" style="font-size: 1.5rem">
      {{'Title-header' | translate}}
        </h1>
  </main>
</section>
<div
  *ngIf="!searchPerformed"
  style="background-color: #162442; height: 57.7vh"
  class="search text-center px-3  px-lg-5 py-5"
>
  <app-search
    (searchInitiated)="onSearchInitiated()"
  ></app-search>
</div>

<router-outlet></router-outlet>
